.center-box{
    position: relative;
    font-size: 20px;
    width:700px;
    margin: auto;
    top: 200px;
    text-align: center;
    display: block;
}



.main-search input {
    width: 500px;
    height: 30px;
    padding: 6px;
    font-size: 20px;
}

img {
    height: 20px;
    width: 20px;
}



.bottom-bar{
    background-color: grey;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.bottom-bar a{
    color: #f2f2f2;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover{
    color: red;
}

p {
    font-family: 'Open Sans', sans-serif;
}